.main-content{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.left h3{
    text-align: left;
    font-size: 2rem;
    font-weight: normal;
    padding: 20px;
}
.left h3 span{
    color: #C770F0;
}
.left p{
    font-size: 1rem;
    padding: 20px;
}
.left p span {
    color: #C770F0;
}
.right img{
    width: 350px;
    height: 300px;
}
.skill-set{
    padding: 20px ;
}
.skill-set h1{
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    padding-bottom: 20px;
}
.skill-set h1 span{
    color: #C770F0;
}
.skills {
    display: flex;
    flex-wrap: wrap;
}
.skills li{
    width: 250px;
    height: 160px;
    border: 2px solid #C770F0;
    border-radius: 10px;
    text-align: center;
    padding-top: 45px;
    margin: 10px;
}

.skills li:hover{
    transform: scale(1.05);
    transition: 0.5s;
}
.tool-set{
    padding: 20px ;
    margin-top: 30px;
}
.tool-set h1{
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    padding-bottom: 20px;
}
.tool-set h1 span{
    color: #C770F0;
}
.tools {
    display: flex;
    flex-wrap: wrap;
}
.tools li{
    width: 250px;
    height: 160px;
    border: 2px solid #C770F0;
    border-radius: 10px;
    text-align: center;
    padding-top: 45px;
    margin: 10px;
}

.tools li:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

@media(min-width:767px){
    .main-content{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 100px;
    }
    .left h3{
        font-size: 2.2rem;
        text-align: center;
    }
    .left p{
        font-size: 1.2rem;
    }
    .right img{
        width: 500px;
        height: 400px;
    }
    .skill-set h1{
        font-size: 2.2rem;
    }
    .tool-set h1{
        font-size: 2.2rem;
    }
}