.header{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
}
.main-image img{
    width: 300px;
    height: 300px;
}
.intro p{
    font-size: 2.0rem;
    letter-spacing: 1.1;
    padding: 20px;
}
.intro p span{
    font-size: 2.0rem;
    padding-left: 10px;
}
.intro h1{
    font-size: 2.0rem;
    padding: 20px;
    font-weight: bold;
}
.intro h1 span{
    color: #C770F0;
    font-size: 2.0rem;
    text-transform: uppercase;
}
.role{
    height: 100px;
}
.Typewriter__wrapper{
    color: #C770F0;
    font-size: 1.5rem;
    padding: 20px;
    font-weight: 600;
    
}
.Typewriter__cursor {
    font-size: 2rem ;
    color: #C770F0;
  }

.hand-wave{
    animation: wave-animation 2.1s infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}
@keyframes wave-animation {
    0%{
        transform: rotate(0deg);
    }
    10%{
        transform: rotate(14deg);
    }
    20%{
        transform: rotate(-8deg);
    }
    30%{
        transform: rotate(14deg);
    }
    40%{
        transform: rotate(-4deg);
    }
    50%{
        transform: rotate(10deg);
    }
    60%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(0deg);
    }   
}

@media(min-width:767px){
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 100px;
        padding-bottom: 50px;
    }
    .main-image img{
        width: 500px;
        height: 500px;
    }
    .intro p{
        font-size: 2.5rem;
        letter-spacing: 1.1;
        padding: 20px;
    }
    .intro p span{
        font-size: 2.5rem;
    }
    .intro h1{
        font-size: 2.7rem;
    }
    .intro h1 span {
        font-size: 2.7rem;
    }
    .Typewriter__wrapper{
        font-size: 2.2rem;
    }
    .Typewriter__cursor{
        font-size: 2.4rem;
    }
}